<span class="timing pull-right">
	<span class="duration label"><%= WhichBus.format_time(startTime) %></span><br/>
	<span class="real-time label"></span>
</span>

<div class="">
	Take <a class="btn btn-small btn-route" href="/routes/<%= agencyId %>/<%= route %>"><%= route %></a> 
	to <a class="btn btn-stop" href="/stops/<%= to.stopId.agencyId %>/<%= to.stopId.id %>"><%= to.name %>
	</a>
	<div class="details">
		<i class="icon-arrow-right"></i>Ride for <%= intermediateStops.length %> stops (<%= WhichBus.format_duration(duration / 1000) %>)
	</div>
</div>
